<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/bootstrap.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="module" src="/scripts.js"></script>
</head>
<body>
    <!-- section with tables list -->
    <div class="list-group" style="width: 300px; height: 100vh; overflow: auto; display: inline-block">
        <form action="/docs/search" method="POST" style="margin-bottom: 20px">
            <div style="text-align: center;">
                <label>Search</label>
            </div>
            <div style="text-align: center;">
                <input type="input" name="searchBar">
                <button type="submit" name="tableId">Search</button>
            </div>
        </form>
        <% docs.forEach(doc => { %>
            <div class="list-group-item list-group-item-action" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                <a href="/docs/<%= doc.tableId %>/table">
                    <%= doc.tableName %>
                </a>
                <div style="text-overflow: ellipsis; overflow: hidden">
                    <%= doc.tableDescription %>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>