<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label>You don't have permissions to see any data</label>
    <!-- logout button -->
    <form action="/logout?_method=DELETE", method="POST">
        <header>
            <button type="submit" style="font-size: 20px">Logout</button>
        </header>
    </form>
</body>
</html>